@media screen and (min-width: 1025px) {
	.parallax-one {
		padding-top: 150px;
		padding-bottom: 150px;
		left: 0;
		top: 0;
		width: 100%;
		height: 700px;
		background-image: url(../images/para.jpg);
		background-attachment: fixed;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		z-index: -10;
	}
}

@media screen and (max-width: 1024px){
	.parallax-one {
		padding-top: 150px;
		padding-bottom: 150px;
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 200px;
		background-image: url(../images/para.jpg);
		background-attachment: fixed;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		z-index: -1;
	}